img {
    max-width: 100%;
}

body {
    border-top: 1px solid #3d8bfd;
    background-color: #f8f9fa;
  }

.header-img {
    max-width: 150px;
    margin: auto;
}
.header img {
    border-radius: 50%;
}
.accordion-button, .accordion-body {
    background-color: #fff;
}
.accordionMyBg {
    background-color: #f0f7f4;
}
